@use 'abstracts/buttons' as btn;
@use 'abstracts/colors' as c;



*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(239, 220, 198,  0.15);
    font-family: "Montserrat", sans-serif;
    width: 100%;  
}

.main-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 140px;
    margin-top: 50px;
    width: 100%;
    z-index: 1; 

    @media (max-width: 1440px) {
        padding: 0 40px;
    }

    @media (max-width: 768px) {
        padding: 40px 32px;
        margin-top: 0px; 
    }


    @media (max-width: 375px) {
        padding: 40px 32px; 
        margin-top: 0px; 
    }

}


img {
    width:100%;
    object-fit: 100%;
}


h2 {
    color: c.$h2;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 500;
}

h3 {
    color: c.$main-fill;
    font-size: 41px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    font-weight: 500;

}






.footer-column {

    &:nth-child(2),
    &:nth-child(3) {
        h3 {
            font-size: 1.25rem;
            line-height: 1.3;
            font-weight: 500;
            color: c.$main-fill;
            margin-bottom: 1.5rem;
        }
    }

    &:nth-child(4) {
        h3 {
            font-size: 1.25rem;
            line-height: 1.3;
            font-weight: 500;
            color: c.$main-fill;
            margin-bottom: 13px;
            text-transform: uppercase;
        }
    }
}


footer a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.26;
    color: c.$primary-text;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    list-style-type: none;
}


.header-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 3.5rem;
    gap: 3rem;

    @media (max-width: 1024px) {
        justify-content: space-between;
        margin-bottom: 1.75rem;
    }


    .logo-container {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        
        @media (max-width: 375px) {
            flex: 1;
            justify-content: flex-start;
        }

        .logo-img {

            img {
                @media (max-width: 425px) {
                    width: 45px
                }
            }
        }

        .logo-text {
            img {
                @media (max-width: 425px) {
                    width: 85px
                }
            }
        }
       
    }


    
    .nav-menu {   
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-left: auto; 

        @media (max-width: 1024px) {
            display: none;
        }
            
            
        @media (max-width: 375px) {
            display: none; 
        }
        
        ul {
            display: flex;
            list-style-type: none;
            gap: 3rem;

            @media (max-width: 375px) {
                display: none; 
            }
          
            li {
                a {
                    font-size: 1rem;
                    font-weight: 600;
                    text-decoration: none;
                    color: c.$primary-text;
                    text-transform: uppercase;
                        
                }
                  
                &::first-letter {
                    font-size: 1.25rem; 
                }
            }
        }

        
 
    }
    
    
    
    .cta-button {
        display: inline-block;
        text-align: center;
 

        a {
            @include btn.cta-button-header(); 
        }

        @media (max-width: 1024px) {
            display: none;
        }

    }

    
    .hamburger-icon {
        display: none;

        svg {
            width: 44px;
            height: 44px;

            @media (max-width: 425px) {
                width: 28px;
                height: 28px;
            }

        }


        @media (max-width: 1024px) {
            display: block; 
            cursor: pointer;
            background: url('images/media-query/icons/psecific-hamburger-icon.svg') no-repeat center center;
            background: contain no-repeat;
        }


    }

}


.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 140px;



    @media (max-width: 1024px) {
        position: relative;
        overflow: hidden;     
    }

    @media (max-width: 425px) {
        margin-bottom: 72px;
    }

    .hero-left {
        display: flex;
        flex-direction: column;
        padding: 6rem 3rem 6rem 2rem;

        @media (max-width: 425px) {
            font-size: 1.5rem;
            margin-bottom: 0.75rem;
            padding: 0rem;
        }

        h1 {
            color: c.$primary-text;
            margin-bottom: 1rem;
            text-align: left;
            font-size: 3rem;
            line-height: 1.16;
            font-weight: 600;
            text-transform: uppercase;

            @media (max-width: 425px) {
                font-size: 1.5rem;
                margin-bottom: 0.75rem;
            }
        
            &::first-letter {
                font-size: 3.5rem;

                @media (max-width: 425px) {
                    font-size: 1.75rem;
                }

            }

        }

        p {
            font-size: 1.25rem;
            color: c.$secondary-text;
            line-height: 1.32;
            margin-bottom: 2rem;
            letter-spacing: 1.04;
            text-align: left;
            padding: 0rem 3rem 0rem 0rem;

            @media (max-width: 425px) {
                font-size: 0.625rem;
                margin-bottom: 1rem;
            }
        }

        .cta-button {
            @include btn.cta-button();
        }

        // .cta-button {
        //     display: inline-block;
        //     max-width: 75%;
        //     padding: 25px 30px; 
        //     font-size: 1.255rem; 
        //     text-transform: uppercase; 
        //     background: linear-gradient(45deg, #647B64, #66AC66);
        //     color: c.$primary-text-secondary; 
        //     text-decoration: none; 
        //     border-radius: 2px; 
        //     text-align: left;
        //     letter-spacing: 2.48px;
        // }

    }

    .hero-right {
        display: flex;
        justify-content: flex-end;
        z-index: 10;

        @media (max-width: 1024px) {
            justify-content: flex-start;
            transform: translateX(25%);
        } 


        
        .img-container {
            padding-right: 60px;
            width: 343px;

            @media (max-width: 1024px) {
                padding-right: 0px;
            }

            @media (max-width: 425px) {
                width: 225px;
            }

        }


    }
}


.section-services {
    display: flex;
    gap: 6.5rem;
    margin-bottom: 145px;
    

    .section-description {
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: column;

        &::before {
            content: '';
            position: absolute;
            top: -40px;
            right: -56px;
            width: 717px;
            height: 153px;
            background: linear-gradient(180deg, rgba(239,128,49, 0.15) 0%, rgba(239,128,49,0.1) 66%, rgba(239,128,49,0) 100%);
            z-index: -1;
        }

        h3 {
            margin-bottom: 2.5rem;
        }

        p {
            font-size: 1rem;
            line-height: 1.32;
            color: c.$secondary-text;
            letter-spacing: 1.04;
            margin-bottom: 2.5rem;
        }

        .cta-button {
            @include btn.cta-button();
        }

        // .cta-button {
        //     display: inline-block;
        //     max-width: 350px;
        //     padding: 25px 30px; 
        //     font-size: 1.255rem; 
        //     text-transform: uppercase; 
        //     background: linear-gradient(45deg, #647B64, #66AC66);
        //     color: c.$primary-text-secondary; 
        //     text-decoration: none; 
        //     border-radius: 2px; 
        //     text-align: left;
        //     letter-spacing: 2.48px;
        // }        


    }
    .section-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2.375rem;

        .item {
            display: flex;
            flex-direction: column;
            background-color: c.$tool-bg-main;
            border-radius: 8px;
            gap: 1rem;
            padding: 40px 40px 45px 40px;

            .icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                background-color: c.$main-fill;
                border-radius: 8px;

                svg {

                    path {
                        fill: c.$tool-bg-main; 
                    }
                  }
            }

            h4 {
                font-size: 1.5rem;
                line-height: 1.16;
            }

            p {
                font-size: 0.8125rem;
                line-height: 1.16;
            }
        }


    }
}


.section-coding {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
    margin-bottom: 170px;

    h3 {
        margin-bottom: 3.5rem;
    }

    .tools {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        position: relative;


        &::before {
            content: "";
            position: absolute;
            bottom: -40px; 
            left: -34px;
            width: 215px;  
            height: 215px;
            background: url('images/website-illustrations/Dots-8px.svg') no-repeat center ;
            background-size: contain;
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -47px;
            right: -243px;
            width: 463px;  
            height: 182px;
            background: linear-gradient(45deg, rgba(239,128,49, 0.1) 0%, rgba(239,128,49, 0.05) 69%, rgba(239,128,49, 0) 100%);;
            background-size: contain; 
            z-index: -1;
        }


        .tool-item {
            width: 360px;
            background: c.$tool-item-linear-gradient;
            background-color: c.$tool-bg-main;
            display: flex;
            flex-direction: column;
            padding: 78px 50px 72px 50px;
            border-radius: 8px;

            .logo {
                margin-bottom: 24px;
            }

            h4 {
                font-size: 1.5rem;
                line-height: 1,16;
                color: c.$primary-text;
                margin-bottom: 0.5rem;
                font-weight: 500;
            }

            P {
                
                font-size: 1rem;
                line-height: 1.32;
                color: c.$secondary-text;
            }

            
        }

    }
}


.section-cooperation {
    display: flex;
    align-items: center; 
    gap: 165px;
    margin-bottom: 195px;

    .section-illust-cont {
        width: 100%;
        position: relative;

        .illust {
            position: relative;
            z-index: 2;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -60px;  
            right: -60px;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(239, 128, 49, 0.1) 0%, rgba(239, 128, 49, 0.1) 69%, rgba(239, 128, 49, 0) 100%);
            z-index: 1;  
          }
    }

    .section-description {
        margin-top: 80px;

        h3 {
            margin-bottom: 1.5rem;
        }

        p {
            font-size: 1rem;
            line-height: 1.32;
            color: c.$secondary-text;
            letter-spacing: 1.04;
            margin-bottom: 2.5rem;
        }


        .cta-button {
            @include btn.cta-button();
        }

        // .cta-button {
        //     display: inline-block;
        //     max-width: 350px;
        //     padding: 25px 30px; 
        //     font-size: 1.255rem; 
        //     text-transform: uppercase; 
        //     background: linear-gradient(45deg, #647B64, #66AC66);
        //     color: c.$primary-text-secondary; 
        //     text-decoration: none; 
        //     border-radius: 2px; 
        //     text-align: left;
        //     letter-spacing: 2.48px;
        // }  
    }


}


.section-reviews {
    display: flex;
    flex-direction: column;
    margin-bottom: 170px;

    .section-description {
        margin-bottom: 3.125rem;

        h3 {
            margin-bottom: 2.5rem;
        }
    }

    .section-cards {
        display: flex;
        gap: 2.5rem;
        flex-direction: row;
        .card {
            background: c.$tool-item-linear-gradient;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 32px 40px;

            .card-top {
                display: flex;
                position: relative;


                .card-name {
                    position: absolute;
                    left: 136px;
                    top: 16px;
                    .card-title-primary {
                        font-size: 1rem;
                        line-height: 1.16;
                        color: c.$primary-text;
                    }
                    .card-title-secondary {
                        font-size: 0.8125rem;
                        line-height: 1.32;
                        letter-spacing: 1.04;
                        color: c.$secondary-text;
                    }
                }
            }

            .card-bottom {
                display: flex;
                flex-wrap: wrap;

                p {
                    line-height: 1.32;
                    letter-spacing: 1.04;
                    color: c.$secondary-text;
                    font-style: italic;
                }
            }

        }
    }


}


.footer {
    width:100%;
    background-color: c.$footer-bg; 

    .footer-container {
        display: grid;
        width: 100%;  // Ensures it takes full screen width
        max-width: 1440px;
        margin: 0 auto;
        padding: 100px 140px;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: 1440px) {
            padding: 60px 30px; // Adjust padding for mid-sized screens
        }

        @media (max-width: 375px) {
            grid-template-columns: 1fr;  // Stack columns on small screens
            padding: 40px 32px; // Adjust for small screens
        }

        .footer-column {

            &:nth-child(1) {
                display: flex;
                flex-direction: column;
                padding-right: 40px;

    
                .logo-container {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 1rem;

                    .logo-img {
                        img {
                            width: 48.5px;
                        }
                    }

                    .logo-text {

                        img {
                            width: 125px;
                        }
                    }
                }

                p {
                    line-height: 1.32;
                    font-size: 0.875rem;
                    letter-spacing: 1.04;
                    margin-bottom: 1rem;
                }

                .footer-copyright {
                    margin-bottom: 1.25rem;

                    small {
                        font-size: 0.875rem;
                        line-height: 1.24;
                        color: c.$secondary-text;
                        margin-bottom: 1.25rem;

                        .copyright-text {
                            margin-bottom: 8px;
                            display: inline-block;
                            
            
                        }
                        .rights-text {
                            display: inline-block;
                        }
                    }
                    
                }

                .social-links {
                    display: flex;
                    gap: 1rem;

                    .social-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        background: rgb(100, 123, 100, 0.10);


                    }

                }
            }

            &:nth-child(4) {
                .contact-form {
                    display: flex;
                    flex-direction: column;
                    gap: 1.75rem;

                    textarea {
                        border: none;
                        width: 100%;
                        height: 115px;
                        padding: 12px 14px;
                        font-size: 14px;
                        resize: vertical;

                        &::placeholder {
                            color: c.$secondary-text; 
                            font-size: 14px;
                            margin: 12px 14px;

                          }
                    }

                    .form-button {
                        border: none;
                        padding: 20px;
                        text-align: left;
                        letter-spacing: .15em;
                        color: #fefefe;
                        text-transform: uppercase;
                        font-size: 12.5px;
                        text-decoration: none;
                        background: linear-gradient(45deg, #647B64, #66AC66);
                    }
                    
                }
            }

   
        }
    }
}