$bg: #EFDCC6;
$h2: #F3B562;
$h3: #647B64;
$main-fill: #647B64; 
$primary-text: #333333;
$secondary-text: #4f4f4f;
$primary-text-secondary: #fefefe;
$footer-bg: #F0DCC5;
$tool-item-linear-gradient: linear-gradient(360deg, rgba(100, 123, 100, 0.77) 0%, rgba(100, 123, 100, 0) 66%, rgba(100, 123, 100, 0) 100%);
$tool-bg-main: #ffffff;